@import "../css/normalize.css";
@import "variables";
@import "selectric";
@import "fonts";

@mixin ProximaNovaMedium {
  font-family: 'Proxima Nova Lt', sans-serif;
  font-weight: 600;
}

@mixin ProximaNovaRegular {
  font-family: 'Proxima Nova Lt', sans-serif;
  font-weight: 400;
}

body,
html {
  height: 100%;
}

body {
  counter-reset: steps;
}

.layer__block--0 {
  z-index: 0;
}

.layer__block--10 {
  z-index: 10;
}

.layer__block--20 {
  z-index: 20;
}

.layer__block--30 {
  z-index: 20;
}

.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;


    max-width: 1261px;
}

.contact__columns {
  display: flex;

  @include respond(0, 1020px) {
    flex-direction: column;
  }

  .column {
    flex: 1;

    &:first-child {
      @include respond(0, 1020px) {
        margin-bottom: 60px;
      }
    }
  }
}

.page__content {
  position: relative;

  .contacts__block {
    margin-top: 26px;

    @include respond(690px) {
      padding-left: 44px;
    }

    .email {
      margin-top: 20px;
      margin-bottom: 34px;

      a {
        font-size: 20px;
        @include ProximaNovaMedium;
        color: $black;
        text-decoration: none;
        border-bottom: 1px dotted;
        transition: color 200ms ease-in-out;
        &:hover {
          color: $green;
        }
      }
    }

    .number {
      font-family: "Bebas Neue", sans-serif;
      font-size: 44px;
      text-decoration: none;
      color: $black;
      font-weight: bold;
      letter-spacing: .7px;
    }

  }

  h1,
  h2 {
    span {
      color: $green;
    }
  }

  h2 {

    @include respond(1020px) {
      font-size: 44px;
    }
    @include respond(0, 1020px) {
      font-size: 27px;
    }

    font-family: "Bebas Neue", sans-serif;
    color: $black;
    font-weight: bold;
    line-height: 1.318;
    letter-spacing: 1px;
    margin: 0;

    &.with__line {
      position: relative;
      @include respond(690px) {
        padding-left: 44px;
      }
      @include respond(0, 690px) {
        padding-left: 20px;
      }

      padding-left: 44px;
      &:before {
        pointer-events: none;
        user-select: none;
        background: $black;
        content: '';
        position: absolute;
        width: 3px;
        top: -16px;
        left: -1px;
        bottom: -15px;
      }
    }
  }

  h1 {

    @include respond(1020px) {
      font-size: 72px;
    }
    @include respond(640px, 1020px) {
      font-size: 44px;
    }
    @include respond(0, 640px) {
      font-size: 30px;
    }

    font-family: "Bebas Neue", sans-serif;
    color: $black;
    font-weight: bold;
    line-height: 1.194;
    letter-spacing: .7px;
    margin: 0;

    &.with__line {
      position: relative;

      @include respond(690px) {
        padding-left: 44px;
      }
      @include respond(0, 690px) {
        padding-left: 20px;
      }

      &:before {
        pointer-events: none;
        user-select: none;
        background: $black;
        content: '';
        position: absolute;
        width: 3px;
        top: -16px;
        left: -1px;
        bottom: -7px;
      }
    }
  }
}

.checkbox {
  font-family: 'Proxima Nova Rg', sans-serif;
  font-weight: 400;
  font-size: 15px;
  padding-left: 40px;
  position: relative;
  cursor: pointer;
  display: inline-block;
  margin-top: 49px;
  letter-spacing: 0.1px;
  line-height: 1.3;

  input {
    position: absolute;
    opacity: 0;
    visibility: hidden;
    z-index: -1;
  }

  span {
    width: 25px;
    height: 25px;
    border: 1px solid $green;
    display: inline-block;
    position: absolute;
    left: 0;
    top: -5px;
    transition: background 250ms ease;
  }

  a {
    color: $green;
    border-bottom: 1px dotted $checkbox-link-border;
    text-decoration: none;
  }

  input:checked + span {
    width: 25px;
    height: 25px;
    background: $green url(../images/sprite.svg#check) no-repeat center;
  }
}

.long__page {

}

form {
  .input {
    height: 50px;

    label {
      @include ProximaNovaMedium;
      pointer-events: none;
      font-size: 18px;
      transform: translateY(-36px);
      display: inline-block;
      letter-spacing: 0.5px;
      transition: transform 210ms linear, font-size 210ms linear;
    }
    input {
      @include ProximaNovaMedium;
      font-size: 18px;
      width: 100%;
      border: none;
      height: 100%;
      outline: 0;
      box-sizing: border-box;
      transition: border-bottom-color 210ms linear;
      border-bottom: 2px solid $input-border-color;

      &:focus {
        border-bottom: 2px solid $green;
      }
    }
  }
}

.request__form {
  padding-top: 46px;
  margin-bottom: 70px;

  @include respond(690px) {
    padding-left: 46px;
  }

  .input:first-child {
    @include respond(690px) {
      margin-bottom: 60px;
    }
    @include respond(0, 690px) {
      margin-bottom: 30px;
    }
  }

  .active + label {
    transform: translateY(-66px);
    font-size: 14px;
  }

  .checkbox {
    margin-bottom: 49px;
  }
}

.steps__list {
  font-family: "Proxima Nova Lt", sans-serif;
  font-size: 20px;
  margin-top: 32px;
  padding-left: 34px;

  @include respond(1040px) {
    padding-bottom: 112px;
    display: flex;
  }

  @include respond(0, 1040px) {
    padding-bottom: 70px;
  }

  .column {
    flex: 1;
    &:first-child {
      padding-right: 20px;
      box-sizing: border-box;

      @include respond(0, 1040px) {
        margin-bottom: 32px;
      }

      li {
        max-width: 565px;
      }
    }
    &:last-child {
      max-width: 541px;
    }
  }

  .title {
    font-family: "Proxima Nova Lt", sans-serif;
    font-weight: 600;
    position: relative;
    letter-spacing: 0;

    @include respond(640px) {
      padding-left: 17px;
    }

    &:before {
      position: absolute;
      top: 0;
      @include respond(640px) {
        left: 0;
      }

      @include respond(0, 640px) {
        left: -30px;
      }

      content: counter(steps) ". ";
      display: block;
    }
  }

  li {
    counter-increment: steps;
    line-height: 1.6;
    letter-spacing: .1px;
    &.last {
      @include respond(1020px) {
        margin-top: 64px;
      }
      @include respond(0, 1020px) {
        margin-top: 32px;
      }

      letter-spacing: 0;
    }
    &:not(:last-child) {
      margin-bottom: 32px;
    }
  }

  ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
}

.form__submit {
  display: flex;

  @include respond(1020px) {
    justify-content: flex-end;
  }
}

.small-title {
  font-family: "Proxima Nova Lt",sans-serif;
  color: $black;
  font-weight: 600;
  font-size: 20px;
  line-height: 1.6;
  position: relative;
  max-width: 411px;
  margin-top: 25px;

  @include respond(1020px) {
    margin-left: 32px;
  }
}

.large-title {
  font-family: "Bebas Neue", sans-serif;
  color: $black;
  font-weight: bold;
  line-height: 1.194;
  position: relative;
  max-width: 360px;
  letter-spacing: .4px;

  @include respond(1020px) {
    font-size: 73px;
  }
  @include respond(0, 1020px) {
    font-size: 40px;
  }
  @include respond(690px) {
    padding-left: 32px;
  }
  @include respond(0, 690px) {
    padding-left: 20px;
  }
  &:before {
    pointer-events: none;
    user-select: none;
    background: $black;
    content: '';
    position: absolute;
    width: 3px;
    top: -4px;
    left: -1px;
    bottom: -1px;
  }
}

.page__subtitle {
  font-family: "Bebas Neue", sans-serif;
  color: $black;
  font-weight: bold;
  line-height: 1.4;
  position: relative;
  letter-spacing: .4px;
  @include respond(1020px) {
    font-size: 44px;
  }
  @include respond(0, 1020px) {
    font-size: 33px;
  }
  @include respond(690px) {
    padding-left: 32px;
  }
  @include respond(0, 690px) {
    padding-left: 20px;
  }
  &:before {
    pointer-events: none;
    user-select: none;
    background: $black;
    content: '';
    position: absolute;
    width: 3px;
    top: -4px;
    left: -1px;
    bottom: -1px;
  }
}

picture {
  display: block;

  img {
    display: block;
  }
}

picture,
img {
  max-width: 100%;
}

.schema {

  @include respond(1180px) {
    display: flex;
    justify-content: space-between;
  }

  .column {
    &:first-child {
      @include respond(1180px) {
        max-width: 563px;
        width: 100%;
      }
      @include respond(0, 1180px) {
        margin-bottom: 60px;
      }
    }
  }

  .image {
    @include respond(1180px) {
      transform: translateY(61px);
    }
    display: block;
    max-width: 100%;
  }
}

.individual__gray-block {
  background: $gray-background;
  padding-top: 71px;
  @include respond(1180px) {
    padding-bottom: 166px;
  }
  @include respond(0, 1180px) {
    padding-bottom: 56px;
  }
}

.individual__schema {
  font-size: 18px;
  font-family: "Proxima Nova Rg", sans-serif;
  padding-left: 35px;
  @include respond(640px) {
    padding-top: 81px;
  }
  @include respond(0, 640px) {
    padding-top: 65px;
  }

  .value {
    font-family: "Proxima Nova Lt", sans-serif;
    font-weight: 600;
    i {
      font-family: "Proxima Nova Rg", sans-serif;
      font-style: normal;
      font-weight: 400;
    }
  }
  .field {
    flex: 1;
    max-width: 395px;
  }
  .row {
    display: flex;
    @include respond(0, 640px) {
      flex-direction: column;
    }
    &:not(:last-child) {
      margin-bottom: 25px;
    }
  }

}

.individual__page {
  @include respond(1020px) {
    padding-top: 150px;
  }
  @include respond(0, 1020px) {
    padding-top: 52px;
  }

  .contact__columns .column:first-child {
    margin-bottom: 20px;
  }

  form {
    @include respond(0, 1200px) {
      padding-left: 0;
    }
    @include respond(1200px) {
      margin-top: 113px;
    }
  }

  .contact__columns {

    @include respond(1020px) {
      padding: 123px 0 94px 0;
    }
    @include respond(0, 1020px) {
      padding: 60px 0 0 0;
    }
  }

  .individual__page-excerpt {
    font-family: 'Proxima Nova Rg', sans-serif;
    font-size: 20px;
    line-height: 1.6;
    margin-top: 60px;
    padding-right: 70px;
    @include respond(640px) {
      padding-left: 32px;
    }

  }

  .individual__page-steps,
  .individual__page-subtitle {

    &:before {
      pointer-events: none;
      user-select: none;
      background: $black;
      content: '';
      position: absolute;
      width: 3px;
      top: -4px;
      left: -1px;
      bottom: -1px;
    }
  }

  .steps__title {
    max-width: 370px;

    @include respond(0, 1040px) {
      margin-top: 70px;
    }
    @include respond(1040px) {
      margin-top: 158px;
    }
  }

  .individual__title {
    max-width: 500px;
  }

  .individual__page-subtitle {
    font-family: "Bebas Neue", sans-serif;
    color: $black;
    font-weight: bold;
    line-height: 1.3;
    position: relative;

    @include respond(1020px) {
      font-size: 44px;
      margin-top: 105px;
    }
    @include respond(0, 1020px) {
      font-size: 33px;
      margin-top: 42px;
    }
    @include respond(690px) {
      padding-left: 32px;
    }
    @include respond(0, 690px) {
      padding-left: 20px;
    }

  }
}

.contact__page {

  @include respond(1020px) {
    padding-top: 131px;
  }
  @include respond(0, 1020px) {
    padding-top: 52px;
  }

  h2 {
    max-width: 500px;
  }
}

:active,
:focus {
  -webkit-tap-highlight-color: transparent;
}

.sorting {
  font-family: "Proxima Nova Rg", sans-serif;
  font-size: 18px;
  position: relative;
  margin-bottom: 40px;
  align-items: center;

  @include respond(640px) {
    display: flex;
    justify-content: space-between;
  }

  .found {
    span {
      font-family: "Proxima Nova Lt", sans-serif;
      font-weight: 600;
      color: $green;
      display: inline-block;
      border-bottom: 1px dotted $light-gray;
      line-height: 1.3;
    }
  }
}

.pagination {
  margin-top: 45px;
  display: flex;
  position: relative;
  align-items: center;
  @include respond(560px) {
    margin-bottom: 98px;
  }
  @include respond(510px) {
    justify-content: flex-end;
  }
  .pages {
    display: flex;
    align-items: center;
    a,
    span {
      margin: 0 14px;
    }
    .active {
      font-size: 24px;
      font-family: "Proxima Nova Rg", sans-serif;
      color: $green;
    }
    a {
      font-size: 16px;
      font-family: "Proxima Nova Lt", sans-serif;
      font-weight: 600;
      color: $black;
      text-decoration: none;
    }
  }
  a {
    text-decoration: none;
    outline: 0;
  }
  svg {
    display: block;
  }
  .prev,
  .next {
    @include respond(560px) {
      padding: 19px 21px;
    }
    @include respond(0, 560px) {
      padding: 12px 8px;
      svg {
        max-width: 44px;
      }
    }
    &:hover {
      background: linear-gradient(-10deg, rgb(23,161,165) 0%, rgb(142,218,192) 100%);
      svg {
        fill: $white;
      }
    }
  }
  .next {
    margin-left: 5px;
  }
  .prev {
    svg {
      transform: scale(-1, -1);
    }
  }
}

.light__select {
  height: 42px;
}

select {
  opacity: 0;
}

.filter__block {
  position: relative;
  display: grid;

  @include respond(640px) {
    margin-top: 85px;
  }

  @include respond(0, 640px) {
    margin-top: 42px;
  }

  @include respond(577px) {
    padding-left: 44px;
    grid-row-gap: 64px;
    grid-template-columns: repeat(auto-fill, minmax(243px, 1fr));
  }

  @include respond(0, 577px) {
    grid-template-columns: 1fr;
    grid-row-gap: 20px;
  }

  label {
    font-family: "Proxima Nova Rg", sans-serif;
    font-size: 15px;
    display: inline-block;
    margin-bottom: 6px;
  }
}

.sort__select {
  max-width: 315px;
  width: 100%;
  height: 60px;

  @include respond(0, 640px) {
    margin-bottom: 25px;
  }
}

.projects__gray-block {
  margin-top: 50px;
  padding: 60px 0;
  background: $projects-background;

  .projects__grid {
    position: relative;
    display: grid;
    grid-gap: 30px;

    @include respond(500px) {
      grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));

    }

  }

  .project__card-touch {
    .project__detail-link {
      display: none;
    }
  }

  .project__detail-link {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 5;
  }

  img {
    max-width: 100%;
  }

  .detail__link {
    color: $white;
    text-decoration: none;
    display: flex;
    font-size: 16px;
    align-items: center;
    text-transform: uppercase;
    font-family: "Proxima Nova Lt", sans-serif;
    font-weight: 600;
    margin-top: 28px;
    justify-content: space-between;
    &:hover {
      svg {
        transform: translateX(10px);
      }
    }
    svg {
      display: block;
      transition: transform 300ms ease;
    }
  }

  .project__card {
    position: relative;
    background: $white;
    text-decoration: none;
    color: $black;
    box-shadow: none;
    transition: box-shadow 200ms ease-in-out;

    picture {
      img {
        width: 100%;
        object-fit: cover;
        height: 225px;
      }
    }

    .overlay {
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      z-index: 1;
      opacity: 0;
      visibility: hidden;
      color: $white;
      background: linear-gradient(-10deg, rgb(23,161,165) 0%, rgb(142,218,192) 100%);
      transition: opacity 300ms ease, visibility 300ms ease;

      .excerpt {
        box-sizing: border-box;
        font-size: 17px;
        line-height: 1.706;
        min-height: 225px;
        font-family: "Proxima Nova Rg", sans-serif;

        @include respond(1230px) {
          padding: 32px 44px 15px;
        }
        @include respond(0, 1230px) {
          padding: 20px 20px 5px;
        }

      }

      svg {
        fill: $white;
      }
    }

    &:hover {
      box-shadow: 7.5px 12.99px 35px 0 rgba(23, 161, 165, 0.4);

      .overlay {
        opacity: 1;
        visibility: visible;
      }
    }

    .row {
      font-family: "Proxima Nova Rg", sans-serif;
      font-size: 20px;

      &:not(:last-child) {
        margin-bottom: 21px;
      }
    }

    > .content {
      svg {
        fill: $black;
      }
    }

    .content {
      display: flex;

      @include respond(1230px) {
        padding: 32px 44px 65px;
      }
      @include respond(490px, 1230px) {
        padding: 22px 32px 75px;
      }
      @include respond(0, 490px) {
        padding: 20px 20px 75px;
      }

      .column {
        &:first-child {
          max-width: 150px;
          flex: 1;
          width: 100%;
        }
      }

      svg {
        @include respond(490px) {
          width: 26px;
          height: 31px;
        }
        @include respond(0, 490px) {
          width: 18px;
          height: 25px;
        }
      }

    }
    b {
      @include respond(490px) {
        font-size: 44px;
      }
      @include respond(0, 490px) {
        font-size: 35px;
      }
      font-family: "Bebas Neue", sans-serif;
      font-weight: bold;
    }
  }
}

.projects__page {

  @include respond(1020px) {
    padding-top: 131px;
  }
  @include respond(640px, 1020px) {
    padding-top: 52px;
  }
  @include respond(0, 640px) {
    padding-top: 37px;
  }

}

.decoration__lines {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  pointer-events: none;
  user-select: none;

  @include respond(0, 1172px) {
    display: none;
  }
}

#app {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.app-inner {
  flex: 1 0 auto;
}

footer {
  background: $gray-background;
  flex: 0 0 auto;
  padding: 43px 0;

  .phone {
    font-size: 21px;
    margin-left: 30px;
  }

  .copyright {
    font-family: 'Proxima Nova Rg', sans-serif;
    color: $copyright-color;
    font-size: 15px;
    text-transform: uppercase;
    letter-spacing: 0.3px;
    @include respond(0, 900px) {
      margin: 30px 0;
    }
  }

  .footer__inner {
    display: flex;

    @include respond(900px) {
      justify-content: space-between;
      align-items: center;
    }
    @include respond(0, 900px) {
      flex-direction: column;
      align-items: center;
    }
  }

}

.decoration__lines-wrapper {
  display: flex;
  justify-content: space-between;
}

.block__lines-item {
  width: 1px;
  height: 100vh;
  background: transparentize($decoration-lines-color, .54);
}

.instagram {
  svg {
    display: block;
    fill: $green;
  }
}

.green-button {
  @include ProximaNovaMedium;
  text-decoration: none;
  background-image: linear-gradient(0, rgb(23,161,165) 0%, rgb(142,218,192) 100%);
  width: 100%;
  display: inline-flex;
  align-items: center;
  color: $white;
  font-size: 16px;
  text-transform: uppercase;
  letter-spacing: 0.8px;
  justify-content: center;

  &.filter__button {
    height: 60px;
    transform: translateY(6px);

    &:hover {
      svg {
        transform: translateX(5px);
      }
    }
  }

  &:not(.wild):not(.filter__button) {
    max-width: 330px;
    height: 90px;
  }

  &.wild,
  &:not(.wild):not(.filter__button) {
    &:hover {
      svg {
        @include respond(1644px) {
          transform: translateX(15px);
        }
        @include respond(0, 1644px) {
          transform: translateX(10px);
        }
      }
    }
  }

  &.wild {
    max-width: 370px;
    height: 92px;
  }

  svg {
    display: block;
    fill: $white;
    margin-left: 38px;
    transition: transform 500ms ease;
  }

}

.reset__filter {
  text-decoration: none;
  color: transparentize($black, .5);
  font-size: 18px;
  font-family: "Proxima Nova Lt", sans-serif;
  font-weight: 600;
  transition: color 250ms ease;
  @include respond(540px) {
    margin-left: 44px;
  }
  &:hover {
    color: $green;
  }
  display: inline-block;
  border-bottom: 1px dotted transparentize($black, .6);
  margin-top: 20px;
  letter-spacing: .5px;
  margin-bottom: 27px;
  line-height: 1.4;
}

.contacts {
  display: flex;
  align-items: center;
}

nav {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding-left: 15px;
  margin-right: auto;

  @include respond(0, 1172px) {
    display: none;
  }

  @include respond(1172px, 1328px) {
    margin-right: 30px;
  }

  @include respond(1172px, 1760px) {
    margin-left: 15px;
  }

  @include respond(1366px, 1760px) {
    max-width: 654px;
  }

  @include respond(1760px) {
    max-width: 715px;
  }

  @include respond(0, 1644px) {
  }

  a {
    @include ProximaNovaMedium;
    display: inline-block;
    color: $black;
    text-decoration: none;
    letter-spacing: .8px;
    position: relative;

    @include respond(1644px) {
      font-size: 18px;
    }
    @include respond(0, 1644px) {
      font-size: 16px;
    }

    &:before {
      transition: opacity 300ms linear, visibility 300ms linear;
      content: '';
      position: absolute;
      opacity: 0;
      visibility: hidden;
      width: 2px;
      height: 19px;
      top: 0;
      bottom: 0;
      margin-top: auto;
      margin-bottom: auto;
      background: $green;
      left: -15px;
      display: block;
    }

    &:hover {
      &:before {
        opacity: 1;
        visibility: visible;
      }
    }
  }
}

header {
  position: relative;
  display: flex;
  padding-left: 15px;
  min-height: 90px;

  .phone {

    @include respond(1644px) {
      margin-left: 30px;
    }
    @include respond(1366px, 1644px) {
      margin-left: 14px;
    }
    @include respond(1644px) {
      font-size: 21px;
    }
    @include respond(0, 1644px) {
      font-size: 16px;
    }
  }

  .contacts {
    width: 100%;
    justify-content: center;

    @include respond(0, 1328px) {
      display: none;
    }
    @include respond(1644px) {
      max-width: 333px;
    }
    @include respond(1366px, 1644px) {
      max-width: 220px;
    }
    @include respond(0, 1366px) {
      max-width: 185px;
    }
  }

  .feedback__button {
    @include respond(0, 690px) {
      display: none;
    }
    @include respond(1644px) {
      max-width: 330px;
      svg {
        margin-left: 38px;
      }
    }
    @include respond(0, 1644px) {
      max-width: 260px !important;
      svg {
        margin-left: 18px;
      }
    }
  }

  .header__left {
    align-items: center;
    display: flex;
    flex: 1;
  }

  .logo {
    width: 100%;
    margin-right: auto;

    @include respond(1644px) {
      max-width: 315px;
    }
    @include respond(0, 1644px) {
      max-width: 275px;
    }
  }

  .logo__link {
    max-width: 270px;
    @include respond(1644px) {
      margin-left: auto;
    }
    svg {
      display: block;
      max-width: 100%;
    }
  }

  .instagram {
    @include respond(0, 1366px) {
      display: none;
    }
  }

}

.phone {
  @include ProximaNovaMedium;
  color: $black;
  text-decoration: none;
  border-bottom: 1px dotted;
  letter-spacing: .2px;
  line-height: 1.3;
  transition: color 200ms ease-in-out;

  &:hover {
    color: $green;
  }

}

.logo__link {
  display: block;

  img {
    display: block;
    max-width: 100%;
  }
}

.burger {
  cursor: pointer;
  margin-right: 30px;
  width: 31px;

  .burger-line_1 {
    width: 31px;
  }
  .burger-line_2 {
    width: 24px;
  }
  .burger-line_3 {
    width: 16px;
  }

  &:hover {
    .burger-line_1 {
      width: 16px;
    }
    .burger-line_2 {
      width: 24px;
    }
    .burger-line_3 {
      width: 31px;
    }
  }

  .burger-line {
    background: $black;
    height: 3px;
    transition: width 450ms ease;

    &:not(:last-child) {
      margin-bottom: 6px;
    }
  }
}

.burger {
  @include respond(1172px) {
    display: none;
  }
}
